body {
  height: 800px;
  background-color: antiquewhite;
  background-image: url(artbackground.png);

}

h1 {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  color: rgb(133, 15, 35);
  font-size: 60px;
}

a {

  color: rgb(78, 3, 16);
  font-size: larger;
  font-family: "Girassol", serif;
  font-weight: 600;
  font-style: normal;

}

#mainpage {
  position: relative;
  left: 50%;
}

h2 {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  color: rgb(133, 15, 35);
  font-size: 30px;
}

.pop {
  height: 400px;
  padding: 15px;
  border-right: solid rgb(133, 15, 35) 2px;
  width: 300px;
  text-align: justify;
}

header {
  padding: 30px;
}



p {
  font-family: "Girassol", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(99, 24, 37);

}

nav {
  padding: 30px;
  background-color: rgb(184, 50, 73);
  height: 5px;
}

#art {
  padding: 30px;
  border-right: solid rgb(133, 15, 35) 2px;
  text-align: justify;
  width: 280px;
  position: absolute;
  left: 400px;
  top: 285px;
  height: 370px;
}
