
#title{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: rgb(133, 15, 35);
    font-size: 60px;

  }
  body{
    height: 800px;
    background-color: antiquewhite;

  }

  .links nav a{
    margin: 60px;
    text-decoration: none;
    font-size: 30px;
  }
