#title {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: rgb(133, 15, 35);
  font-size: 60px;
  margin-bottom: 150px;
}

body {
  height: 800px;
  background-color: antiquewhite;
}

.links nav {
  display: flex;
  flex-direction: column;
}

.links nav div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.links nav a {
  margin-top: 10px;
  text-decoration: none;
  font-size: 30px;
  display: block;
}

.links {
  border: solid 2px rgb(133, 15, 35);
  width: 30%;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

a {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: rgb(133, 15, 35);
  text-decoration: none;
}

#announcements {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  color: rgb(133, 15, 35);
  font-size: 30px;
  border: solid 2px rgb(133, 15, 35);
  display: flex;
  margin: 0 auto;
}

#bigblock {
  margin-left: 20px;
  border: solid 2px rgb(133, 15, 35); 
  width: 500px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 30px;
  font-size: 40px;
}

.thesolution {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
}

h3{
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: rgb(133, 15, 35);
}
