#title {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: rgb(133, 15, 35);
  font-size: 60px;
  margin-bottom: 150px;
}

body {
  height: 800px;
  background-color: antiquewhite;
}

.links nav {
  display: flex;
  flex-direction: column;
}

.links nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.links nav a {
  margin-top: 10px;
  text-decoration: none;
  font-size: 30px;
  display: block;
}

.links {
  border: solid 2px rgb(133, 15, 35);
  width: 50%;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(133, 15, 35);
  font-size: larger;
}

#announcements {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: rgb(133, 15, 35);
  font-size: 30px;
  border: solid 2px rgb(133, 15, 35);
  display: flex;
}

#bigblock {
  margin: 20px;
  border: solid 2px rgb(133, 15, 35); 
  width: 500px;
  display: flex;
  justify-content: ;

}
