body {
	background-color: antiquewhite;
}

h1 {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: rgb(133, 15, 35);
    font-size: 60px;
}

a {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: rgb(133, 15, 35);
    font-size: 30px;
    text-decoration: none;
}

#schoolpage{
    position: absolute;
    width: 200px;
    left: 300px;
    top: 50px;
}

#mainpage {
    position: absolute;
    width: 200px;
    right: 300px;
    top: 50px;
}

#navs {
    position: relative;
    height: 200px;
    margin-bottom: 40px;
}

#articles {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: rgb(133, 15, 35);
    font-size: 30px;
    border: solid 2px rgb(133, 15, 35);
    position: relative;
    height: 600px;
}

#science1{
    border: solid 2px rgb(133, 15, 35);
    position: absolute;
    left: 25px;
    width: 600px;
    height: 600px;
}

#science2{
    border: solid 2px rgb(133, 15, 35);
    position: absolute;
    left: 34%;
    width: 620px;
    height: 600px;
}

#science3{
    border: solid 2px rgb(133, 15, 35);
    position: absolute;
    right: 25px;
    width: 600px;
    height: 600px;
}
