body {
	background-color: antiquewhite;
}

h1 {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;

}
.SciencePage{
    display: flex;
    justify-content: center;
    background-color: rgb(133, 15, 35);
    height: 200px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}


a {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#navs {
    height: 200px;
    margin-bottom: 40px;
    border: solid 2px rgb(133, 15, 35);
    background-color: rgb(180, 8, 37);
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    height: 100px;
    padding-bottom: 20px;
}
#schoolpage{
    width: 400px;
    margin-right: 200px;
    color: white;
}

#mainpage {    
    width: 400px;
    margin-left: 200px;
    color: white

}

.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    
}



#articles {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: rgb(133, 15, 35);
    font-size: 30px;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#science1{
    border: solid 2px rgb(133, 15, 35);
    left: 25px;
    width: 100%;
    height: 650px;
    background-color: rgb(233, 87, 42);
    color: white;
    text-align: left;
    position: relative;
    margin-left: -25px;
}

#science2{
    border: solid 2px rgb(133, 15, 35);
    left: 34%;
    width: 100%;
    height: 650px;
    background-color: rgb(233, 87, 42);
    color: white;
    text-align: left;
    position: relative;
    margin-left: -589px;
}

#science3{
    border: solid 2px rgb(133, 15, 35);
    right: 25px;
    width: 100%;
    height: 650px;
    background-color: rgb(233, 87, 42);
    color: white;
    text-align: left;
    position: relative;
    margin-left: 25px ;
}

p{
    width: 800px;
    font-size: 40px;
    margin-left: 50px;
}

h2{
    font-size: 60px;
    margin-left: 50px;
}
img{
    z-index: 10;
    position: absolute;
    right:0;
    top: 70px;
    height: 500px;
    width: 50%;

}

#wthbro{
    position: absolute;
    right:0;
    top: 70px;
    height: 500px;
    width: 50%;


}

/* Made by Gerry */
