body {
	background-color: antiquewhite;
}

h1 {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: rgb(133, 15, 35);
    font-size: 60px;
}

a {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: rgb(133, 15, 35);
    font-size: 30px;
    text-decoration: none;
}

#link1{
    position: absolute;
    width: 200px;
    left: 300px;
    top: 50px;
}

#link2 {
    position: absolute;
    width: 200px;
    right: 300px;
    top: 50px;
}

#link3{
    position: absolute;
    width: 200px;
    margin: 0 auto;
    top: 50px;
}

.links {
    position: relative;
    height: 200px;
    margin-bottom: 40px;
}
